/* Author: <%= authorName %>, <%= authorUrl %>, <%= (new Date).getFullYear() %> */

max-width = 1200px;
content-max-width = null;
sticky-footer-height = null;
spacer = 10px;
bg-color = #fff;
base-color = #111;
link-style = "underline";
link-color = #1978c8;
visited-color = #8c5ad2;
hover-color = #1694ec;
link-underline-color = rgba(link-color,.4);
visited-underline-color = rgba(visited-color,.4);
hover-underline-color = rgba(hover-color,.4);
site-domain = "example.com";  // For print style sheet

@import "tamia";
@import "styles";
@import "print";
