<!doctype html>
<html lang="<%= lang %>" class="no-js">
<head>
	<meta charset="utf-8">
	<title>®</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <script src="build/modernizr.js"></script>
	<link href="build/styles.css" rel="stylesheet">
</head>
<body>

	<% if (js) { if (oldie) { %><!--[if lt IE 9]>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]><!--><% } %>
	<script src="<%= jqueryPath %>"></script>
	<script src="build/scripts.js"></script><% } %>
</body>
</html>
