<!doctype html>
<html lang="<%= lang %>" class="no-js">
<head>
	<meta charset="utf-8">
	<title></title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <script src="build/modernizr.js"></script>
	<link href="build/styles.css" rel="stylesheet">
</head>
<body>

	<script src="<%= jqueryPath %>"></script><% if (localJquery) { %>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="bower_components/jquery/jquery.min.js"%3E%3C/script%3E'))</script><% } %>
	<script src="build/scripts.js"></script>
</body>
</html>
